/* !General */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url(https://github.com/veksel-or-vels/Barbershop/blob/main/img/bg.jpg?raw=true);
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  color: #000000;

  background-color: #f8f3f0;
  background-image: url(https://github.com/veksel-or-vels/Barbershop/blob/main/img/pattern-light.jpg?raw=true);
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0); 
  overflow: hidden;
}

.navigation-current {
  border-bottom: 4px solid #ffffff;
}

/* !Index */

.button {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 30px;

  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.main-header {
  margin-bottom: 75px;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: transparent;
}

.main-header-logo {
  order: 2;
  width: 368px;
  height: 153px;
}

.main-navigation-wrapper {
  width: 100%;
  min-height: 70px;
  margin-bottom: 60px;

  background-color: #000000;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;

  width: 620 px;
  margin: 0;
  padding: 0;

  list-style: none; 
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;

  vertical-align: middle;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.user-navigation {
  display: flex;
  max-width: 140px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 50px;
}

.login-link::before {
  content: " ";

  position: absolute;
  top: 27px;
  left: 24px;  
  
  width: 16px;
  height: 18px;

  background-image: url("https://raw.githubusercontent.com/veksel-or-vels/Barbershop/3ee9d642fbab996cbc11111bab4eb26dda3a204d/img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
}

.features {
  margin-bottom: 80px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  width: 300px;
  text-align: center;
}

.feature-item h3 {
  position: relative;

  margin: 0;
  margin-bottom: 60px;

  font-size: 30px;
  line-height: 42px;
}

.feature-item h3::after {
  content: "";

  position: absolute;
  bottom: -30px;
  left: 50%;

  width: 20px;
  height: 20px;
  margin-left: -10px;  

  background-color: #ffffff;

  transform: rotate(45deg);
}

.feature-item p {
  margin: 0 10px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;

  color: #000000;

  background-color: #f8f5f2;
  background-image:
    url(https://github.com/veksel-or-vels/Barbershop/blob/main/img/line.png?raw=true), 
    url(https://github.com/veksel-or-vels/Barbershop/blob/main/img/pattern-light.jpg?raw=true);
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;
}

.news {
  width: 380px;
}

.news-list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;
}

.news-item {
  margin-bottom: 25px;
}

.news-item p {
  margin: 0;
}

.news-item time {
  text-transform: none;
}

.gallery {
  width: 300px;
}

.gallery-container {
  position: relative;

  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;

  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery-button {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}

.gallery-button-back {
  left: 0;
}

.gallery-button-next {
  right: 0;
}

.contacts {
  width: 380px;
}

.contacts p {
  margin: 0;
  margin-bottom: 25px;
}

.appointment {
  width: 300px;
}

.appointment-info {
  margin: 0;
  margin-bottom: 15px;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment-item {
  width: 140px;
  margin: 0;
  margin-bottom: 10px;
}

.appointment-item label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}

.appointment-item input {
  box-sizing: border-box;
  width: 140px;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 7px;
  
  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15;
}

.appointment .button {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
}

.main-footer {
  padding: 60px 0;
  margin-top: 65px;

  color: #ffffff;

  background-color: #212121;
  background-image: url(https://github.com/veksel-or-vels/Barbershop/blob/main/img/pattern-dark.jpg?raw=true);
  background-position: 0 0;
  background-repeat: repeat;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}

footer-contacts a:hover,
footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  width: 145px;
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.footer-social b {
  display: block;
  margin-bottom: 15px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  margin-bottom: 10px;

  background-color: #000000;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000000;
}

.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;
  text-align: center;
}

.footer-copyright .button {
  display: block;
  margin-right: 0;
}

.footer-copyright b {
  display: block;
  margin-bottom: 15px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}

.modal {
  position: fixed;

  color: #000000;

  background-color: #f8f3f0;
  background-image: url(https://github.com/veksel-or-vels/Barbershop/blob/main/img/pattern-light.jpg?raw=true);
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login {
  top: 120px;
  left: 50%;

  display: none;

  width: 300px;
  margin-left: -230px;
  padding: 50px 80px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: -34px;

  width: 22px;
  height: 22px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #d0d0d0;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal h2 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
}

.modal-description {
  margin: 0;
  margin-bottom: 10px;
}

.login-form p {
  margin: 0;
  margin-bottom: 10px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  padding-right: 40px;

  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-icon-user {
  background-image: url(https://raw.githubusercontent.com/veksel-or-vels/Barbershop/02031880b2153f535c7e92c35d61c4f4812e4c21/img/user.svg);
  background-position: 270px center;
  background-repeat: no-repeat;
}

.login-icon-password {
  background-image: url(https://raw.githubusercontent.com/veksel-or-vels/Barbershop/02031880b2153f535c7e92c35d61c4f4812e4c21/img/lock.svg);
  background-position: 270px center;
  background-repeat: no-repeat;
}

.login-form .login-help {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0  ;
}

.login-checkbox {
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 17px;
  height: 17px;

  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 1px;

  width: 15px;
  height: 2px;

  background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

.login-form .button {
  width: 100%;
  margin-right: 0;
}

.modal-map {
  top: 50%;
  left: 50%;

  display: none;
 
  width: 766px;
  height: 560px;
  margin-top: -255px;
  margin-left: -382.5px;

  border: 7px solid white;
}

.modal-map p {
  margin: 0;
}

/* ? Class for JS */

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}


@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
 
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}


/* !Price-sheet */


.inner-page .site-navigation a {
  padding-bottom: 18px;
}

.secondary-header {
  margin-bottom: 0;
}

.secondary-navigation-wrapper {
  margin-bottom: 30px;
}

.page-title {
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  min-width: 160px;
}

.breadcrumbs ul {
  list-style: none;
  padding: 0;

  display: flex;
}

.breadcrumbs li {
  padding-right: 40px;
  position: relative;
}

.breadcrumbs a {
  line-height: 20px;
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current a {
  color: #aba9a7;
}

.breadcrumbs-marker::before {
  content: "";

  position: absolute;
  left: -23px;
  margin-top: 7px;
  
  width: 8px;
  height: 8px;
  
  background-color: #000000;

  transform: rotate(45deg);
}

.catalog-logo {
  width: 111;
  height: 24;
}

.inner-content {
  margin-bottom: 75px;
}

.inner-content h2 {
  margin-top: 60px;
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 30px;
}

.inner-content h3 {
  margin-top: 60px;
  margin-bottom: 30px;

  font-size: 20px;
  line-height: 24px;
}

.inner-content h2 + h3 {
  margin-top: 30px;
}

.inner-content .big-heading {
  display: flex;
  align-items: center;

  margin-top: 55px;
  margin-bottom: 65px;

  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.big-heading::before,
.big-heading::after {
  content: "";

  flex-grow: 1;
  flex-shrink: 0;

  width: 50px;
  height: 2px;

  background: #000000;
}

.big-heading::before {
  margin-right: 25px;
}

.big-heading::after {
  margin-left: 25px;
}

.inner-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 60px 0;
}

.inner-column-left,
.inner-column-right {
  width: 460px;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
  margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child {
  margin-bottom: 0;
}

.inner-columns > h3:first-child {
  width: 460px;
  margin-top: 0;
  margin-right: 460px;
  margin-right: calc(100% - 460px);
}

.custom-list-1 {
  margin: 14px 0;
  padding: 0;

  list-style: none;
}

.inner-content table {
  border-collapse: collapse;
}

.custom-list-1 li {
  position: relative;

  margin-bottom: 15px;
  padding-left: 20px;
}

.custom-list-1 li::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 0;

  width: 8px;
  height: 8px;

  background-color: #000000;
  transform: rotate(45deg);
}

.inner-content td {
  padding: 10px 15px;

  border: 2px solid #000000;
}

.inner-content p {
  margin: 14px 0;
}

.custom-table-1 {
  width: 100%;
}

.custom-table-1 td {
  width: 50%;
}

.custom-table-1 td:last-child {
  text-align: center;
}

/* !Catalog */ 

.body-catalog {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f8f5f2;
  background-image: url(https://github.com/veksel-or-vels/Barbershop/blob/main/img/pattern-light.jpg?raw=true);
  background-position: 0 0;
  background-repeat: repeat;
}

.body-catalog h1 {
  font-size: 30px;
  line-height: 42px;
}

.catalog-header-logo {
  width: 111px;
  height: 24px;
}

.form-catalog {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
}

.filter fieldset {
  border: 0 none;
}

.filter legend {
  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  padding-inline-start: 0px;
}

.filter label:hover,
.filter label:focus,
.filter input:hover,
.filter input:focus {
  color: #663d15;
}

.manufacturers {
  padding: 0;
  margin: 0;
  position: relative;
}

.manufacturers ul {
  padding-top: 11px;
}

.manufacturers li {
  padding-bottom: 20px;
  padding-left: 40px;
}

.manufacturers input[type="checkbox"] {
  position: absolute;
  left: 0;
}

.product-group ul {
  padding-top: 11px;
}

.product-group {
  padding: 0;
  margin: 0;
  position: relative;
}

.product-group li {
  padding-bottom: 20px;
  padding-left: 40px;
}

.product-group input[type="radio"] {
  position: absolute;
  left: 0;
}

.catalog {
  width: 700px;
  height: 592px;

  margin: 0;
}

.catalog-box-1 {
  width: 700px;

  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
}

.catalog-box-2 {
  width: 700px;

  display: flex;
  justify-content: space-between;

  margin-top: 20px;
}

.card-box {
  width: 220px;
  height: 286px;

  background-color: #ffffff;
}

.card-box:hover,
.card-box:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.product-name {
  text-align: center;
}

.price_pay {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.price {
  
  padding: 10px 40px;

  background-color: #e5e5e5;
}

.price_pay .button {
  margin: 0;
  padding: 10px 0;
  width: 80px;
  
}

.button-slide {
  margin-top: 45px;
  margin-left: 50%;
}

.button-slide .button {
  padding : 0;
  padding: 10px 20px;
}

/* !Products */

.first-img {
  padding-bottom: 20px;
}

.desc {
  font-size: 14px;
  line-height: 24px;
}

.desc ul {
  list-style-image: url(https://github.com/veksel-or-vels/Barbershop/blob/main/img/marker.png?raw=true);
  padding-inline-start: 20px;
}

.vendor-code {
  color: #aeaeae;
}

.product-description {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.product {
  width: 460px;
  height: 670px;
}

.set-baxter-small {
  display: flex;
  justify-content: space-between
}

.vendor-code {
  float: right; 
}

.desc .price_pay {
  justify-content: left;
}

.description-text {
  margin-top: 25px;
}

.includes {
  margin-top: 25px;
}